@{
    ViewBag.Title = "AnySmtp Tester";
    Layout = "~/Views/Shared/_TwitterBootstrap.cshtml";
    
}
@section head{
    <script src="@Url.Content("~/Scripts/anysmtptester.main.js")" type="text/javascript"></script>
}
<h2>@ViewBag.Message</h2>
<p>
    Test Any SMTP Server with AnySmtp Tester.
</p>
<div class="row">
    <form id="anysmtptester">
    <div class="span4">
        <fieldset id="fsSmtp" class="well">
            <legend>SMTP</legend>
            <div class="editor-field">
                <label for="txtHost">
                    Host:
                </label>
                <input id="txtHost" class="text-box" type="text" placeholder="smtp.yourdomain.com"/>
            </div>
            <label for="txtPort">
                Port:
            </label>
            <div class="editor-field">
                <input id="txtPort" class="text-box" type="text" placeholder="25" />
            </div>
            <div class="editor-field">
                <input id="chkIsSsl" type="checkbox" />
                <label for="chkIsSsl">
                    <span class="help-inline">Enable SSL? </span>
                </label>
            </div>
            <div class="editor-label">
                <label for="txtUser">
                    User:
                </label>
            </div>
            <div class="editor-field">
                <input id="txtUser" class="text-box" type="text" />
            </div>
            <div class="editor-label">
                <label for="txtPassword">
                    Password:
                </label>
            </div>
            <div class="editor-field">
                <input id="txtPassword" class="text-box" type="password" />
            </div>
        </fieldset>
    </div>
    <div class="span4">
        <fieldset id="fsMail" class="well">
            <legend>Email</legend>
            <div class="editor-label">
                <label for="txtFrom">
                    From:
                </label>
            </div>
            <div class="editor-field">
                <input id="txtFrom" class="text-box" type="text" />
            </div>
            <div class="editor-label">
                <label for="txtTo">
                    To:
                </label>
            </div>
            <div class="editor-field">
                <input id="txtTo" class="text-box" type="text" />
                <span class="help-inline">(comma sepparated email addresses)</span>
            </div>
            <div class="editor-label">
                <label for="txtSubject">
                    Subject:
                </label>
            </div>
            <div class="editor-field">
                <input id="txtSubject" class="text-box" type="text" />
            </div>
            <div class="editor-label">
                <label for="txtMailBody">
                    Body:
                </label>
            </div>
            <div class="editor-field">
                <textarea class="text-box multi-line" id="txtMailBody"></textarea>
            </div>
        </fieldset>
    </div>
    </form>
</div>
<div class="row">
    <div class="span6">
        <button id="btnTest" class="btn-large btn-warning span5">
            TEST SMTP SERVER
        </button>
    </div>
    <div class="span6">
        <button id="btnSendMail" class="btn-large btn-success span5">
            SEND EMAIL
        </button>
    </div>
</div>
<div class="row">
    <fieldset id="fsStatus" class="well">
        <legend>Server Status</legend>
        <div class="editor-label">
            <label for="txtServerStatus">
                Status Message:
            </label>
        </div>
        <div class="editor-field">
            <pre class="console" id="txtServerStatus">
$ telnet smtp.gmail.com 465
>
    220 mx.gmail.com 65a4sd98as74d84a
    EHLO client.host
    250
                </pre>
        </div>
    </fieldset>
</div>
